[Unit]
Description=Coder Agent
After=network-online.target
Wants=network-online.target

[Service]
User=${username}
ExecStart=/etc/cloud/coder-init
Environment=CODER_AGENT_TOKEN=${coder_agent_token}
Environment=CODER_AGENT_LOG_DIR=/var/log
Restart=always
RestartSec=10
TimeoutStopSec=90
KillMode=process

OOMScoreAdjust=-900
SyslogIdentifier=coder-agent

[Install]
WantedBy=multi-user.target
